:root {
  --orange-color: rgba(242, 98, 46, 0.5);
  --blue-color: rgba(89, 46, 242, 0.5);
  --purple-color: rgba(141, 65, 191, 0.5);
}
body {
    margin: 0px;
    color-scheme: dark; /* thumb color, track color */
}

/* Light Mode Scrollbar */
html {
  scrollbar-color: #888 #444;  /* Thumb color, track color */
  scrollbar-width: thin;       /* You can also use 'auto' for normal width */
}

/* Dark Mode Scrollbar */
@media (prefers-color-scheme: dark) {
  html {
    scrollbar-color: #555 #222;  /* Thumb color, track color for dark mode */
  }
}




#gradientBackground {
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.buffer {
    height: 1000px;
    width: 100%;
}

.SeanPletan {
    height: 150px;
    color: rgb(255, 255, 255);
    font-size: 150px;
    text-align: end;
    padding-right: 50px;
}

.projectsHeading {
    background-color: #1e1e1e;
    height: 150px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    font-size: 150px;
    color: white;
    line-height: 150px;
}

.projects {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px white;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.escher {
  background-image: url('assets/escher.jpg');
}

.griffith {
  background-image: url('assets/griffith.jpg');
}

.bosch {
  background-image: url('assets/bosch.jpg');
}

.orange {
  background-color: var(--orange-color);
}
.blue {
  background-color: var(--blue-color);
}
.purple {
  background-color: var(--purple-color);
}